<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@600&display=swap"
    rel="stylesheet">
    
    <style>
      /* Style to make the image curved */
      .curved-image {
          height: 220px;
          border-radius: 5%; /* 5% will make it slightly curved, adjust as needed */
          overflow: hidden; /* This ensures that the content outside the border-radius is hidden */
          box-shadow: 0px 0px 30px 3px rgba(153,153,153,1);
           /* Shadow effect */
      }
      .top{
        font-family: 'Montserrat', sans-serif;
      }
      
  </style>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">

</head>
<body class="top">
    <section>
        <div class="container px-4 py-5" id="featured-3">
            <h1 class="pb-2 border-bottom" style="font-family: 'Playfair', serif; font-weight: bold; font-size:55px;">Basic Fitness Courses</h1>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/introBsic.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Introduction to Fitness</h3>
                <p>Provide an overview of the importance of exercise for overall health and well-being. Cover basic concepts such as the benefits of physical activity, different types of exercise, and how to create a balanced fitness routine.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>


              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/coreStrengthBasic.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Core Strengthening Exercises</h3>
                <p>Focus on building a strong core foundation to support posture, stability, and functional movement. Teach beginner-friendly core exercises like plank variations, crunches, and bridges.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
              
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/mindBasic.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Mind-Body Connection</h3>
                <p>Explore the connection between physical activity and mental well-being, including stress reduction, mood enhancement, and mindfulness practices like deep breathing and meditation.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
            </div>
          </div>
    </section>

    <section style="background-color: rgb(246, 246, 242);">
        <div class="container px-4 py-5" id="featured-3">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/nutritionBasic.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Nutrition Basics for Fitness</h3>
                <p>Provide an overview of basic nutrition principles to support fitness goals, including macronutrients, portion control, and meal planning tips. Emphasize the importance of hydration and whole, nutrient-dense foods.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/bodyweight.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Bodyweight Exercises</h3>
                <p>Teach fundamental bodyweight exercises that require no equipment, such as squats, lunges, push-ups, and planks. Include proper form, variations, and progressions to accommodate different fitness levels.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/cardioBasic.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Cardiovascular Exercise Basics</h3>
                <p>Explain the importance of cardiovascular exercise for heart health and weight management. Introduce beginner-friendly cardio activities like walking, jogging, cycling, and jumping jacks, along with tips for getting started safely.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
            </div>
          </div>
    </section>

    <section>
        <div class="container px-4 py-5" id="featured-3">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/fitnessBasic.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Setting Fitness Goals</h3>
                <p>Guide participants in setting realistic and achievable fitness goals based on their individual needs and preferences. Discuss the SMART goal-setting framework and strategies for staying motivated and accountable.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/flexibilityBasic.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Flexibility and Mobility Training</h3>
                <p>Emphasize the importance of flexibility and mobility for preventing injury and improving overall movement quality. Teach basic stretching exercises for major muscle groups and mobility drills to enhance range of motion.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>

              <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3">
                  <img src="./basicCouses/strengthTrainingBasic.jpg" height="220px" class="curved-image">
                </div>
                <h3 class="fs-2 text-body-emphasis mt-3">Strength Training Fundamentals</h3>
                <p>Introduce basic strength training principles, including the benefits of resistance training, muscle groups, and proper lifting techniques. Demonstrate beginner exercises using resistance bands, dumbbells, or household items.</p>
                <a href="#" class="icon-link">
                  Details >>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
            </div>
          </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>